/* General */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 18px;
  scroll-behavior: smooth;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  margin: 0;
  background-color: var(--alt-secondary-color);
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}


/* Variables */

:root {
  --main-color: #1C658C;
  --secondary-color: #398AB9;
  --alternate-color: #D8D2CB;
  --alt-secondary-color: #EEEEEE;
  --cancel-color: rgb(207, 65, 46);
}


/* Navbar */

nav.navbar {
  height: 90px;
  background-color: var(--main-color);
}

nav.navbar div.bar-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  height: 100%;
  padding-inline: 20px;
  margin: auto;
}

nav.navbar div.bar-items a.logo img {
  max-height: 100%;
  width: auto;
  padding: 10px;
  cursor: pointer;
}

nav.navbar div.bar-items div.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}

nav.navbar div.bar-items div.categories a {
  color: var(--alt-secondary-color);
  font-weight: 600;
  text-decoration: none;
  margin: 5%;
  height: fit-content;
  background: none;
  border: none;
  cursor: pointer;
}

nav.navbar div.bar-items a.cart-widget {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

nav.navbar div.bar-items a.cart-widget div.cart-icon {
  color: var(--alt-secondary-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

nav.navbar div.bar-items a.cart-widget div.cart-icon i {
  font-size: 24px;
  padding: 10px;
  z-index: 4;
}

nav.navbar div.bar-items a.cart-widget div.cart-icon p.count {
  font-size: 12px;
  font-weight: bold;
  line-height: 21px;
  width: 21px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: -15px;
  right: 15px;
  color: black;
  border-radius: 50%;
  background-color: var(--alt-secondary-color);
  z-index: 5;
}

nav.navbar div.bar-items a.cart-widget div.cart-icon p.hidden {
  display: none;
}


/* Footer */

div.footer {
  color: var(--alt-secondary-color);
  background-color: var(--main-color);
  width: 100%;
  padding: 10px;
  margin-top: auto;
}

div.footer p {
  font-weight: 600;
  text-align: center;
  width: 100%;
}


/* 404 */

h4.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  padding: 30px;
  margin: auto;
  width: 100%;
  height: 100%;
}


/* Item list */

h4.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  padding: 30px;
  margin: auto;
  width: 100%;
  height: 100%;
}

div.item-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  max-width: 1200px;
  padding: 30px;
  width: 100%;
}

div.item-list-container h2 {
  font-size: 24px;
}

div.item-list-container div.item-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-around;
  padding-top: 20px;
}

div.item-list-container div.item-list a.item-card {
  color: black;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--alternate-color);
  width: 30%;
  padding: 1%;
  margin: 1%;
  border-radius: 5px;
}

div.item-list-container div.item-list a.item-card h4 {
  margin-top: 3%;
  white-space: nowrap;
}

div.item-list-container div.item-list a.item-card img {
  width: 80%;
  height: auto;
  margin-block: 5%;
  border-radius: 3px;
}


/* Item detail */

div.item-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  padding: 30px;
  margin-inline: auto;
  width: 100%;
}

div.item-detail-container div.image-details {
  display: flex;
  flex-direction: row;
  padding: 3%;
  background-color: var(--alternate-color);
  border-radius: 5px;
  width: 100%;
}

div.item-detail-container div.image-details img {
  margin-right: 2%;
  border-radius: 5px;
  width: 50%;
  height: auto;
}

div.item-detail-container div.image-details div.item-details {
  display: flex;
  flex-direction: column;
  width: 50%;
}

div.item-detail-container div.image-details div.item-details h4 {
  font-size: 24px;
}

div.item-detail-container div.image-details div.item-details p.description {
  padding-block: 12px;
}

div.item-detail-container div.image-details div.item-details div.price-qty {
  margin-top: auto;
  width: 100%;
}

div.item-detail-container div.image-details div.item-details div.price-qty p {
  margin-bottom: 10px;
}

div.item-detail-container div.image-details div.item-details div.price-qty a.to-cart {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  color: var(--alt-secondary-color);
  width: 100%;
  cursor: pointer;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);
}


/* Item count */

div.counter {
  width: 100%;
}

div.counter button {
  font-weight: 600;
  color: var(--alt-secondary-color);
  cursor: pointer;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);
}

div.counter div.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border: 1px black solid;
  border-radius: 5px;
}

div.counter div.controls p {
  margin-right: auto;
  margin-left: 10px;
  margin-bottom: 0px !important;
}

div.counter div.controls button {
  width: 35px;
  margin: 5px;
}

div.counter button.add-to-cart {
  height: 52px;
  margin-top: 10px;
  width: 100%;
}


/* Cart */

div.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  padding: 30px;
  margin-inline: auto;
  width: 100%;
}

div.cart div.cart-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--alternate-color);
  border-radius: 5px;
  margin-bottom: 15px;
}

div.cart div.cart-item h4 {
  margin-right: auto;
  padding-left: 15px;
  padding-block: 15px;
}

div.cart div.cart-item p.quantity {
  padding-block: 15px;
  padding-right: 1%;
}

div.cart div.cart-item div.quantity {
  display: flex;
  padding-right: 3%;
  padding-block: 15px;
  width: auto;
}

div.cart div.cart-item div.quantity button {
  color: white;
  background-color: var(--secondary-color);
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 5px;
  width: 25px;
  margin-left: 5px;
  cursor: pointer;
}

div.cart div.cart-item p {
  padding-block: 15px;
  padding-right: 3%;
}

div.cart div.cart-item button.remove-from-cart {
  font-weight: bold;
  color: white;
  padding: 5px;
  padding-inline: 8px;
  margin-block: 15px;
  margin-right: 15px;
  background-color: var(--cancel-color);
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  border: none;
}

div.cart p.total {
  font-weight: bold;
  width: 100%;
  text-align: right;
  margin-right: 15%
}

div.cart button.buy {
  margin-top: 30px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  color: var(--alt-secondary-color);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);
}

div.cart a.remove-all {
  margin-top: 15px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  color: var(--alt-secondary-color);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: var(--cancel-color);
}

div.no-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  padding: 30px;
  margin: auto;
  width: 100%;
  height: 100%;
}

div.no-cart p {
  font-weight: bold;
}

div.no-cart a {
  margin-top: 30px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  color: var(--alt-secondary-color);
  cursor: pointer;
  padding: 10px;
  padding-inline: 30px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);
}